@font-face { 
    font-family: "arial-rounded-MT-bold";
    src: url("arial-rounded-MT-bol.ttf");}

form { 
    font-family: "arial-rounded-MT-bol";
    text-align: center;} 

form {
    width:100%;
    padding: 30px;
    border: 1px solid #f1f1f1;
    background: #fff;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24); }

input[type=text], input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;} 

input[type=submit] {
    background-color: #00BFFF;
    color: #808080;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;} 