@font-face { 
    font-family: "arial-rounded-MT-bold";
    src: url("arial-rounded-MT-bol.ttf");}

body {font-family: "arial-rounded-MT-bol";}

header {background-color: #83858994; }
header {text-align: center;}
header section {text-align: left;}


nav {text-align: right;}
nav {background-color: #91969c; }


main {margin-right: 5%; margin-left: 5%;}


footer {background-color: #83858994; }
